<div class="container-fluid" >
    <!-- <div class="row"> -->
        
            <!-- <h1>{{single[0].name}}</h1> -->

            <!-- <h5>{{single[0].details}}</h5> -->
        
        <div class="col" ><br><br>
            <!-- <div class="h1"> -->
            <!-- <img src="{{single1[0].img}}"  height="600px" width="600px" alt=""> -->
            <!-- <img src="{{single[0].img}}" alt= align="center"> -->
        <!-- </div> -->
            <div class="row">
        
                <!-- <h1>{{single[0].name}}</h1> -->
    <div class="h2">
                <h5>{{single1[0].hosp1}}</h5>
            </div>
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp2}}</h5>
            </div>  
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp3}}</h5>
            </div> 
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp4}}</h5>
            </div>
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp5}}</h5>
            </div> 
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp6}}</h5>
            </div>
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp7}}</h5>
            </div>
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp8}}</h5>
            </div>
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp9}}</h5>
            </div>
            <br>
            <br>
            <div class="h2">
                <h5>{{single1[0].hosp10}}</h5>
            </div>
            </div>
        </div>
<div>

